<!DOCTYPE HTML>
<html>
<head>
    <title>huchuchu Borad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-end">

    {{#name}}
        logged in as : <span id="user">{{name}}</span>
        <a href="/logout" class="btn btn-sm btn-outline-info" role="button">로그아웃</a>
    {{/name}}

    {{^name}}
    <form class="form-inline">
        <a href="/oauth2/authorization/google" class="btn btn-sm btn-outline-info" role="button" >google</a>
        <button class="btn btn-sm btn-outline-success" type="button">로그인</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">회원가입</button>
    </form>
     {{/name}}
</nav>
<blockquote class="blockquote text-center">
<h3>huchuchu Board</h3>
</blockquote>