{{>layout/header}}

<!--목록 출력 영역-->

<div class="col-10">
    {{#name}}
    <a href="/posts/save" role="button" class="btn btn-sm btn-warning">글 등록</a>
    {{/name}}
    <br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th class="text-center" width="10%">
                <input type="checkbox" aria-label="Checkbox for following text input">
            </th>
            <th class="text-center" width="10%">#</th>
            <th class="text-center" width="40%">제목</th>
            <th class="text-center" width="20%">작성자</th>
            <th class="text-center" width="20%">작성일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td class="text-center"><input type="checkbox" aria-label="Checkbox for following text input">
                </td>
                <td class="text-center">{{id}}</td>
                <td class="text-center"><a href="/posts/select/{{id}}">{{title}}</a></td>
                <td class="text-center">{{author}}</td>
                <td class="text-center">{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>

    </table>

</div>

</div>
</div>
</div>


{{>layout/footer}}

