{{>layout/header}}
<div class="col-md-10">



    <div class="col text-center " style="float: none; margin:0 auto; padding-top:10px;">
        <p> ❗ 로그인 또는 회원가입이 필요합니다 ❗ </p>
        <p> 네이버 또는 구글로 로그인 해 주세요 😊 </p>
    </div>

    <div class="col-md-3" style="float: none; margin:0 auto; padding-top:10px;">
        <a href="/oauth2/authorization/naver" class="btn btn-success btn-lg"
           role="button">naver</a>
    </div>

    <div class="col-md-3" style="float: none; margin:0 auto; padding-top:10px;">
        <a href="/oauth2/authorization/google" class="btn btn-primary btn-lg"
           role="button">google</a>
    </div>



</div>

</div>
</div>

{{>layout/footer}}