{{>layout/header}}
<div class="col-md-10">

    <div class="col-md-3" style="float: none; margin:0 auto; padding-top:10px;">
    <img src={{user.picture}} alt="..." class="img-thumbnail">

    <span>닉네임 : {{user.name}}
    </span>
    </div>



</div>



</div>
</div>


{{>layout/footer}}